# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.RythmGame.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ptit-\Documents\ProjetSae\BachelorRythm\RythmGame\.idea\.idea.RythmGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
